

/* Content */
.grid1{
    background-color: var(--white-color);
}

.content{
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}

.content__list{
    padding-left: 0;
    list-style: none;
}

.content__list--item{
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px #ccc;
    border-radius: 2px;
    margin: 20px 0;
}

.content__list--item:hover{
    border-color: var(--primary-color);
}

.content__list--item-link{
    text-decoration: none;
    color: transparent;
    width: 320px;
    height: 160px;
}

.content__list--item-link-img{
    height: 140px;
    width: 280px;
    object-fit: cover;
    border-radius: 2px;
    margin: 10px 20px;
}

.content__list--item-info{
    margin: 30px 0;
}

.content__list--item-info-title{
    text-decoration: none;
    color: #183a57;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0;
}

.content__list--item-info-history{
    padding-left: 0;
    list-style: none;
    display: flex;
    margin: 10px 0;
}

.content__list--item-info-subhistory{
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    opacity: 0.8;
}

.content__list--item-info-icon{
    margin-right: 4px;
}

.content__list--item-info-specifically{
    margin: 0;
}

.content__list--item-info-p{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 10px 0;
}
