

.header{
    width: 100vw;
    height: 500px;
    background: url(../Image/banner4.jpg) no-repeat center / cover;
    position: relative;
}
/* Header Menu */
.header__menu{
    height: 130px;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    width: 300px;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.submenu{
    flex: 1;
    border-radius: 4px;
}

.submenu__1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.submenu__1--left{
    display: flex;
    align-items: center;
}

.submenu__1--left-hotline{
    font-size: 1.6rem;
    color: #35b9dd;
    line-height: 1.6rem;
    margin-right: 4px;
    font-weight: 700;
}

.submenu__1--left-phone{
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--white-color);
    cursor: pointer;
}

.submenu__1--right{
    display: flex;
    align-items: center;
}

.submenu__1--right-account{
    color: var(--primary-color);
    background-color: var(--white-color);
    margin: 0 16px;
    height: 37px;
    width: 120px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.submenu__1--right-account-register{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.submenu__2{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.submenu__2--link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    margin-right: 50px;
    font-weight: 500;
}

/* Header title */
.header__title{
    margin-top: 140px;
    background-color: var(--white-color);
    width: 500px;
    height: 140px;
    border-radius: 4px;
    box-shadow: 0 3px 3px #ccc;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.header__title--h1{
    color: var(--primary-color);
    font-size: 3rem;
    line-height: 3rem;
    margin: 0 auto;
}


/* Grid liên hệ */
.form{
    margin: 50px 100px;
    border: 1px solid #ccc;
    box-shadow: 1px 3px 3px #ccc;
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 20px 0 40px;
}

.form__content{
    border: 1px solid #ccc;
    margin: 20px 40px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #ccc;
}

.form__content p{
    font-size: 1.6rem;
    padding: 0 20px;
    color: var(--text-color);
    line-height: 1.6rem;
}

.form__container{
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
}

.form__contact1{
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px #ccc;
    width: fit-content;
    padding: 0 20px;
    margin-right: 20px;
}

.form__contact2{
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px #ccc;
    height: fit-content;
    width: fit-content;
    padding: 0 20px;
    font-size: 1.4rem;
}

.form__contact1--p{
    font-size: 1.4rem;
    margin: 16px 0 8px;
}

.form__contact1--input{
    font-size: 1.4rem;
    height: 32px;
    width: 650px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 8px;
}

.form__contact1--input:hover{
    border-color: var(--primary-color);
}

.form__contact1--input-ND{
    height: 44px;
}

.form__contact1--btn{
    display: block;
    margin: 20px auto;
    font-size: 1.6rem;
    height: 30px;
    width: 120px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.form__contact1--btn:hover{
    opacity: 0.9;
}

.form__contact2--div{
    display: flex;
    align-items: center;
}

.form__contact2--div i{
    font-size: 1.6rem;
    margin-right: 12px;
}

.form__contact2 p{
    margin: 8px 0;
}





/* Body footer */
.footer{
    border-top: 4px solid var(--primary-color);
}

.footer__list{
    padding-left: 0;
    list-style: none;
}

.footer__heading{
    color: #757575;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 18px;
}

.footer__list--item{
    margin: 12px 0;
}

.footer__list--item a{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.footer__list--item a:hover{
    color: var(--primary-color);
}

.footer__list--item a i{
    font-size: 1.4rem;
    margin-right: 4px;
    color: var(--text-color);
}

.footer__download{
    display: flex;
}

.footer__download--qr{
    max-height: 75px;
    max-width: 75px;
    padding: 2px;
    border: 1px solid #ccc;
}

.footer__download--apps-link{
    text-decoration: none;
    color: transparent;
}

.footer__download--apps{
    height: 75px;
    margin-left: 12px;
}

.footer__download--apps-icon{
    max-width: 75px;
    height: 50%;
    object-fit: contain;
}


/* Modal Login/Register */
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: FadeIn linear 0.1s;
}

.modal__login{
    display: none;
}

.modal__register{
    display: none;
}

.modal__container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__form{
    background-color: var(--white-color);
    width: 450px;
    margin: 120px auto 0;
    border-radius: 4px;
}

.modal__form--heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.modal__form--heading-h3{
    font-size: 2rem;
    color: var(--text-color);  
    padding-left: 12px; 
}

.modal__form--heading-close{
    font-size: 2.6rem;
    padding-right: 12px;
    font-weight: 400;
    cursor: pointer;
}

.modal__form--content{
    margin: 20px 12px 10px;
}

.modal__form--content-input{
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 1.5rem;
    height: 40px;
    border-radius: 4px;
    outline: 0;
    /* border: 1px solid #ccc; */
    padding-left: 12px;
    border: none;
}

.modal__form--content-input1{
    border: 1px solid #ccc;
}


.modal__form--content-input-pass{
    display: flex;
    height: 42px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal__form--content-input-pass-register{
    margin-bottom: 10px;
}

.modal__form--content-showpass{
    font-size: 1.5rem;
    position: relative;
    right: 10px;
}

.modal__form--content-showpass:hover{
    color: #bbb;
}

.modal__form--content-input::placeholder{
    color: #ccc;
    font-weight: 400;
}

.modal__form--content-input:hover{
    border-color: var(--primary-color);
}

.modal__form--content-input-pass:hover{
    border-color: var(--primary-color);
}

.modal__form--content-forget{
    font-size: 1.5rem;
    color: var(--text-color);
    width: fit-content;
}

.modal__form--content-btn{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    height: 42px;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.modal__form--content-btn:hover{
    opacity: 0.8;
}

.modal__form--content-or{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.modal__form--content-or-span{
    width: 180px;
    height: 1px;
    border-top: 1px solid #ccc;
}

.modal__form--content-or-p{
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
}

.modal__form--content-link{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    height: 42px;
    border-radius: 4px;
    margin: 10px 0;
}

.modal__form--content-link-iconFB{
    font-size: 2rem;
    color: #0269e3;
    margin-left: auto;
    margin-right: 8px;
}

.modal__form--content-link-iconGG{
    height: 20px;
    width: 17.5px;
    object-fit: cover;
    margin-left: auto;
    margin-right: 8px;
}

.modal__form--content-link-p{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: auto;
}

.modal__form--footer-login{
    display: flex;
    margin: 0 12px;
}

.modal__form--footer-register{
    padding: 8px 0;
}

.modal__form--footer-p{
    font-size: 1.5rem;
    margin-right: 4px;
    color: var(--text-color);
}

.modal__form--footer-p-register{
    margin-top: 0;
}

.modal__form--footer-p1{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.modal__form--content-forget:hover, .modal__form--footer-p1:hover{
    text-decoration: underline;
    cursor: pointer;
}

.modal__form--footer-wrap{
    display: flex;
    height: 42px;
}

.modal__form--footer-span{
    color: var(--primary-color);
    cursor: pointer;
}

.modal__form--footer-span:hover{
    text-decoration: underline;
}