

/* Body Fly */
.flight__list{
    padding-left: 0;
}

.flight__list--item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flight__list--item-name{
    display: flex;
    align-items: center;
}

.flight__list--item-name-h1{
    margin-left: 16px;
}

.flight__list--item-name-icon{
    margin: 0 16px;
}

.flight__list--item-name-p{
    font-size: 2.2rem;
    font-weight: 700;
}

.flight__list--item-detail{
    display: flex;
    width: 50%;
    /* justify-content: space-between; */
    /* margin-right: 16px; */
}

.flight__list--item-detail-p{
    font-size: 1.7rem;
    font-weight: 500;
    flex: 1;
    margin-left: 30px;
}

.flight__list--item-detail-price{
    font-size: 2rem;
    color: #cf1322;
    font-weight: 700;
    text-decoration: underline;
    flex: 1;
    text-align: center;
}

/* Body hot deal */
.body1{
    width: 80%;
    margin: 0 auto 40px;
    padding: 15px 50px 50px;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 3px #ccc;
}

.body2{
    background-color: #fafafa;
    border-radius: none;
    box-shadow: none;
    padding: 0;
}

.body__wrap{
    display: flex;
    justify-content: space-between;
}   

.body__wrap1{
    margin-top: 40px;
}

.body__wrap--item{
    flex-basis: 30%;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 3px #ccc;
}

.wrapper{
    min-height: 310px;
}

.body__wrap--item-img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.body__wrap--item-h1{
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-left: 8px;
}

.body__wrap--item-div{
    margin-left: 8px;
    display: flex;
    align-items: center;
    margin: 16px 9px;
}

.body__wrap--item-div-p1{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 16px 0 0;
}

.body__wrap--item-div-p2{
    font-size: 1.4rem;
    color: #ff8917;
    margin: 0;
}

.body__wrap--item-div-p3{
    font-size: 1.4rem;
    color: #b7c154;
    margin: 0;
}

.body__wrap--item-price{
    margin-left: 8px;
    font-size: 2.6rem;
    font-weight: 700;
    color: #ff8917;
}

.body__wrap--item-btn{
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 2px;
    border: 1px solid #ccc;
    outline: none;
    float: right;
    margin: 10px 10px 10px 0;
    height: 30px;
    width: 120px;
    cursor: pointer;
}

.body__wrap--item-btn:hover{
    opacity: 0.9;
}
