

/* Body wrap đặt vé */
.wrap{
    width: 100vw;
    position: relative;
    top: -54px;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 3px 3px #ccc;
    border-radius: 4px;
    padding-bottom: 12px;
    background-color: var(--white-color);
    padding-bottom: 30px;
}

.wrapper__heading{
    display: flex;
    align-items: center;
    border-bottom: solid var(--primary-color);
    padding-left: 20px;
}

.wrapper__heading--img{
    margin-right: 8px;
    cursor: pointer;
}

.wrapper__heading--p{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.wrapper__content{

}

.wrapper__content--div1{
    display: flex;
    margin: 10px 0 0 20px;
    height: 40px;
}

.wrapper__content--div1-radio{
    display: flex;
    align-items: center;
    margin-right: 4px;

}

.wrapper__content--div1-radio-input{
    height: 14px;
    width: 14px;
    margin: 0 4px 0 0;
}

.wrapper__content--div1-radio-p{
    font-size: 1.6rem;
}

.wrapper__content--div2{
    display: flex;
    margin: 0 24px;
    justify-content: space-between;
    align-items: center;
}

.div2__p{
    font-size: 1.4rem;
    margin: 8px 0;
    padding-left: 8px;
}

.div2__p0{
    padding-left: 0;
}

.div2__input{
    font-size: 1.3rem;
    height: 30px;
    width: 190px;
    outline: none;
    border: 1px solid #ccc;
    margin: 4px 0;
    border-radius: 4px;
    padding-left: 8px;
}

.div2__input0{
    padding-left: 7px;
}

.div2__input:hover, .div2__passenger--div:hover{
    border: 1px solid var(--primary-color);
}

.div2__img{
    position: relative;
    bottom: -16px;
    cursor: pointer;
}

.div2__passenger--div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    border: 1px solid #ccc;
    height: 30px;
    width: 70px;
    border-radius: 4px;
}

.adults{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-left: 0px;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px #ccc;
    background-color: var(--white-color);
    display: none;
}

.adults::before{
    position: absolute;
    content: "";
    display: block;
    top: -20px;
    left: 0;
    right: 0;
    height: 20px;
    background-color: transparent;
}

.adults__item{
    font-size: 1.3rem;
    padding: 4px 0 4px 8px;
    color: var(--text-color);
}

.adults__item:hover{
    background-color: var(--primary-color);
}

.div2__passenger--div-adults:hover .adults{
    display: block;
}

.div2__passenger--div-p{
    font-size: 1.3rem;
    color: var(--text-color);
}

.div2__passenger--div-icon{
    font-size: 1.2rem;
}

.children{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-left: 0px;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px #ccc;
    background-color: var(--white-color);
    display: none;
}

.children::before{
    position: absolute;
    content: "";
    display: block;
    top: -20px;
    left: 0;
    right: 0;
    height: 20px;
    background-color: transparent;
}

.children__item{
    font-size: 1.3rem;
    padding: 4px 0 4px 8px;
    color: var(--text-color);
}

.children__item:hover{
    background-color: var(--primary-color);
}

.div2__passenger--div-children:hover .children{
    display: block;
}


.infant{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-left: 0px;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px #ccc;
    background-color: var(--white-color);
    display: none;
}

.infant::before{
    position: absolute;
    content: "";
    display: block;
    top: -20px;
    left: 0;
    right: 0;
    height: 20px;
    background-color: transparent;
}

.infant__item{
    font-size: 1.3rem;
    padding: 4px 0 4px 8px;
    color: var(--text-color);
}

.infant__item:hover{
    background-color: var(--primary-color);
}

.div2__passenger--div-infant:hover .infant{
    display: block;
}

.div2__btn{
    height: 30px;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    outline: none;
    border: 1px solid var(--primary-color);
    position: relative;
    bottom: -16px;
}

/* QR */
.QR{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.QR__content{
    display: flex;
    align-items: center;
}

.QR__content--img{
    margin-right: 16px;
}

.QR__content--div{

}

.QR__content--div-h2{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}

.QR__content--div-p{
    font-size: 1.4rem;
    color: var(--text-color);
}

.QR__download{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.QR__download--img{
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

.QR__download--p{
    font-size: 1.3rem;
    color: var(--text-color);
}

/* Location */
.location{
    width: 80%;
    margin: 80px auto 40px;
}

.location__h1{
    text-align: center;
    color: #195688;
    font-size: 2.2rem;
}

.location__body{
    display: grid;
    grid-template-rows: 220px 220px;
    grid-gap: 10px;
    margin-top: 30px;
}

.location__body--top{
    display: grid;
    /* grid-row: 1/2; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.location__body--bottom{
    display: grid;
    /* grid-row: 2/3; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.location__body--wrap{
    height: 220px;
    position: relative;
    cursor: pointer;
}

.location__body--wrap:hover{
    opacity: 0.9;
}

.location img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
}

.location img:hover{
    transform: scale(1.01);
    transition: all .4s;
}

.location__body--wrap-div{
    position: absolute;
    right:20px;
    left: 20px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location__body--wrap-div-p1{
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 500;
}

.location__body--wrap-div-p2{
    font-size: 2.2rem;
    color: var(--white-color);
    font-weight: 700;
}

.location__body--wrap-div-span{
    text-decoration: underline;
}

/* Sale */
.sale{
    width: 80%;
    margin: 50px auto;
    background-color: var(--white-color);
    padding: 10px 0 20px;
}

.sale__body{
    display: flex;
}

.sale__body .slick-prev::before,
 .sale__body .slick-next::before{
    color: var(--primary-color);
    font-size: 2.2rem;
}

.sale__body .slick-list{
    padding: 20px 0;
}

.sale__body--item{
    /* flex-basis: 20%; */
    min-height: 400px;
    margin: 0 10px;
    box-shadow: 0px 1px 3px #ccc;
    background-color: var(--white-color);
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.sale__body--item:hover{
    border: 1px solid var(--primary-color);
}

.sale__body--item-img{
    height: 185px;
    /* width: 295px; */
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.sale__body--item-h1{
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;
    margin-left: 8px;
    min-height: 48px;
}

.sale__body--item-div1{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.sale__body--item-div1-icon{
    margin-right: 8px;
    font-size: 1.6rem;
    color: var(--text-color);
    opacity: 0.4;
}

.sale__body--item-div1-p{
    font-size: 1.4rem;
    margin: 8px 0;
}

.sale__body--item-div2{
    float: right;
    margin-right: 8px;
}

.sale__body--item-div2-p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: right;
    margin: 8px 0;
}

.sale__body--item-div2-price{
    font-size: 2.4rem;
    color: #ff9d3f;
    font-weight: 700;
    margin: 16px 0;
}

.sale__body--item-div2-span{
    text-decoration: underline;
}


/* Exp Kinh nghiệm đi máy bay */
.exp{
    width: 80%;
    margin: 0 auto 40px;
}

.exp__body{
    display: flex;
    justify-content: space-between;
}

/* .exp__body--link{
    text-decoration: none;
} */

.exp__body--item{
    flex-basis: 23%;
    text-decoration: none;
}

.exp__body--item-img{
    height: 155px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.exp__body--item-h3{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.exp__body--item-div{
    display: flex;
}

.exp__body--item-div-img{
    margin-right: 6px;
}

.exp__body--item-div-p{
    margin-right: 16px;
    color: var(--text-color);
}

.exp__body--item-content{
    font-size: 1.4rem;
    color: var(--text-color);
}

